<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>(呵呵)</string>
		<key>picture</key>
		<string>emojo_weixiao.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(哈哈)</string>
		<key>picture</key>
		<string>emojo_daxiao.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(嘻嘻)</string>
		<key>picture</key>
		<string>emojo_chiya.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(发呆)</string>
		<key>picture</key>
		<string>emojo_dai.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(喜欢)</string>
		<key>picture</key>
		<string>emojo_xihuan.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(流泪)</string>
		<key>picture</key>
		<string>emojo_ku.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(得意)</string>
		<key>picture</key>
		<string>emojo_miao.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(郁闷)</string>
		<key>picture</key>
		<string>emojo_hen.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(吐血)</string>
		<key>picture</key>
		<string>emojo_pidan.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(骷髅)</string>
		<key>picture</key>
		<string>emojo_kulou.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(愉悦)</string>
		<key>picture</key>
		<string>emojo_meng.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(吃)</string>
		<key>picture</key>
		<string>emojo_chi.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(疑问)</string>
		<key>picture</key>
		<string>emojo_e.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(闭嘴)</string>
		<key>picture</key>
		<string>emojo_bizui.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(汗)</string>
		<key>picture</key>
		<string>emojo_han.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(鬼脸)</string>
		<key>picture</key>
		<string>emojo_guilian.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(耍酷)</string>
		<key>picture</key>
		<string>emojo_shuai.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(囧)</string>
		<key>picture</key>
		<string>emojo_jiong.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(怒)</string>
		<key>picture</key>
		<string>emojo_nu.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(吐)</string>
		<key>picture</key>
		<string>emojo_tu.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>(强盗)</string>
		<key>picture</key>
		<string>emojo_haidao.png</string>
	</dict>
</array>
</plist>
