<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatBubble</key>
	<dict>
		<key>ReceiveStretchablePoint</key>
		<string>{36,24}</string>
		<key>SendStretchablePoint</key>
		<string>{36,24}</string>
	</dict>
	<key>TabBarButton1</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,38}</string>
		<key>UnreadIconCenter</key>
		<string>{58,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{58,10}</string>
	</dict>
	<key>TabBarButton2</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,38}</string>
		<key>UnreadIconCenter</key>
		<string>{58,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{58,10}</string>
	</dict>
	<key>TabBarButton3</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,38}</string>
		<key>UnreadIconCenter</key>
		<string>{58,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{58,10}</string>
	</dict>
	<key>TabBarButton4</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,38}</string>
		<key>UnreadIconCenter</key>
		<string>{58,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{58,10}</string>
	</dict>
	<key>ColorTable</key>
	<dict>
		<key>kNavigationBarTitleColor</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kNavigationBarButtonTitleColorNoraml</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kNavigationBarButtonTitleColorHighlighted</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kNavigationBarButtonTitleColorDisabled</key>
		<string>0xee,0xff,0xde,0.4</string>
		<key>kNavigationBarButtonTitleColorSelected</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kCommonBlueButtonTitleColorNormal</key>
		<string>0x65,0x44,0x22,1</string>
		<key>kCommonBlueButtonTitleColorHighlighted</key>
		<string>0x65,0x44,0x22,1</string>
		<key>kCommonRedButtonTitleColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kCommonRedButtonTitleColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kCommonFocusButtonTitleColorNormal</key>
		<string>0xff,0xf8,0xde,1</string>
		<key>kCommonFocusButtonTitleColorHighlighted</key>
		<string>0xff,0xf8,0xde,1</string>
		<key>kCommonButtonTitleColorDisabled</key>
		<string>0xaf,0xaf,0xaf,1</string>
		<key>kTextFieldTextColor</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kTextFieldPlaceholderTextColor</key>
		<string>0xb3,0xb3,0xb3,1</string>
		<key>kContentTitleTextColor</key>
		<string>0x33,0x33,0x33,1</string>
		<key>kContentDescriptionTextColor</key>
		<string>0xbd,0x95,0x71,1</string>
		<key>kContentKeywordTextColor</key>
		<string>0xff,0x77,0,1</string>
		<key>kUrlTextColorNormal</key>
		<string>0xcc,0xa4,0x82,1</string>
		<key>kUrlTextColorHighlighted</key>
		<string>0xcc,0xa4,0x82,1</string>
		<key>kTabBarItemTitleColorNormal</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kTabBarItemTitleColorHighlighted</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kSearchBarCancelButtonTitleColorNormal</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kSearchBarCancelButtonTitleColorHighlighted</key>
		<string>0x40,0x7f,0x1d,0.4</string>
                <key>kSearchRecordLastKeywordNormal</key>
		<string>0xf4,0xc6,0x7e,1</string>
                <key>kSearchRecordLastKeywordHighlight</key>
		<string>0xf4,0xc6,0x7e,1</string>
		<key>kTableViewSeparatorColor</key>
		<string>0xe3,0xde,0xc7,1</string>
		<key>kTableViewCellBackgroundColorNormal</key>
		<string>0xff,0xfd,0xf3,1</string>
		<key>kTableViewCellBackgroundColorHighlighted</key>
		<string>0xfc,0xf7,0xe1,1</string>
		<key>kTableViewCellUnreadBackgroundColorNormal</key>
		<string>0xff,0xfe,0xf8,1</string>
                <key>kTableViewCellHeadCellBackgroundColor</key>
                <string>0xfc,0xf7,0xe1,1</string>
                <key>kTableViewCellHeadCellBackgroundColorHighlighted</key>
                <string>0xfc,0xf7,0xe1,1</string>
                <key>kTableViewCellNormalCellBackgroundColor</key>
                <string>0xff,0xfd,0xf3,1</string>
                <key>kTableViewCellNormalCellBackgroundColorHighlighted</key>
                <string>0xfc,0xf7,0xe1,1</string>
		<key>kTableViewCellTextLabelTextColorNormal</key>
		<string>0x67,0x3a,0x13,1</string>
		<key>kTableViewCellTextLabelTextColorHighlighted</key>
		<string>0x67,0x3a,0x13,1</string>
		<key>kTableViewCellDetailTextLabelTextColorNormal</key>
		<string>0xd9,0xbc,0x9d,1</string>
		<key>kTableViewCellDetailTextLabelTextColorHighlighted</key>
		<string>0xd9,0xbc,0x9d,1</string>
		<key>kTableViewCellDetailTextLabelTextColorDisabled</key>
		<string>0xd9,0xbc,0x9d,0.5</string>
		<key>kTableViewCellTimeColorNormal</key>
		<string>0xd9,0xbc,0x9d,1</string>
		<key>kTableViewCellTimeColorHighlighted</key>
		<string>0xd9,0xbc,0x9d,1</string>
		<key>kTableViewCellVipNicknameColorNormal</key>
		<string>0xfc,0x42,0x26,1</string>
		<key>kTableViewCellVipNicknameColorHighlighted</key>
		<string>0xfc,0x42,0x26,1</string>
		<key>kAioTimeLabelTextColor</key>
		<string>0x61,0x60,0x60,1</string>
		<key>kAioPublicAccountMenuItemTitleColor</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kAioPublicAccountMenuItemTitleHighlightColor</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kAioPublicAccountMenuPopMenuItemTitleColor</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kAioPublicAccountMenuPopMenuItemTitleHighlightColor</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kAioVoiceButtonTitleColor</key>
		<string>00x40,0x7f,0x1d,1</string>
		<key>kAioVoiceButtonTitleColorHighlighted</key>
		<string>0xee,0xff,0xde,1</string>
		<key>kAioReceiveMessageTextColor</key>
		<string>0xcc,0xa4,0x82,1</string>
		<key>kAioSendMessageTextColor</key>
		<string>0x00,0x00,0x00,1</string>
		<key>kAioSendMessageUrlTextColor</key>
		<string>00x40,0x7f,0x1d,1</string>
                <key>kVideoChatCellTextColorMiss</key>
		<string>0xd2,0x2d,0x2d,1</string>
		<key>kAioRichPanelBackgroundColor</key>
		<string>0xe6,0xe6,0xe6,1</string>
		<key>kAioRichPanelButtonTitleColor</key>
		<string>0x33,0x33,0x33,1</string>
		<key>kRefreshControlShapeFillColor</key>
		<string>0x88,0xce,0x61,1</string>
		<key>kRefreshControlShapeStrokeColor</key>
		<string>0x88,0xce,0x61,1</string>
		<key>kRefreshControlArrowFillColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kUISwitchOnTintColor</key>
		<string>nil</string>
		<key>kUISwitchTintColor</key>
		<string>nil</string>
		<key>kUISwitchThumbTintColor</key>
		<string>nil</string>
		<key>kPopupMenuItemTitleColor</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kPopupMenuItemTitleColorHighlighted</key>
		<string>0x40,0x7f,0x1d,1</string>
		<key>kSMSEditMenuItemTitleColor</key>
		<string>0x40,0x7f,0x1d,1</string>
	</dict>
	<key>Others</key>
	<dict>
		<key>StatusBarStyleLightContent</key>
		<false/>
	</dict>
	<key>ThemeVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
